name: Linting

# yamllint disable-line rule:truthy
on: [push, pull_request]

permissions:
  contents: read
jobs:
  prek:
    name: Run prek checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Register problem matchers
        run: |
          echo "::add-matcher::.github/workflows/matchers/yamllint.json"
          echo "::add-matcher::.github/workflows/matchers/check-json.json"
          echo "::add-matcher::.github/workflows/matchers/check-executables-have-shebangs.json"
          echo "::add-matcher::.github/workflows/matchers/codespell.json"
      - name: Run prek
        uses: j178/prek-action@v1.1.1 # v1.1.0
        env:
          RUFF_OUTPUT_FORMAT: github
