name: Build and Publish Python Package
# This workflow builds a Python package and publishes it to PyPI or TestPyPI
permissions:
  contents: read
on:
  release:
    types: [published, prereleased]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install build dependencies
        run: python -m pip install --upgrade pip build

      - name: Build package
        run: python -m build

      - name: Upload dist artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist/*

  pypi-publish:
    name: Upload release to PyPI
    if: ${{ !github.event.release.prerelease }}
    needs: build
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      contents: read
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - uses: actions/checkout@v6

      - name: Download dist artifacts
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

        with:
          packages-dir: dist
          verbose: true
          print-hash: true

  test-pypi-publish:
    name: Upload release to TestPyPI
    if: ${{ github.event.release.prerelease }}
    needs: build
    runs-on: ubuntu-latest
    environment: testpypi
    permissions:
      contents: read
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - uses: actions/checkout@v6

      - name: Download dist artifacts
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist
      - name: Publish package distributions to TestPyPI

        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          packages-dir: dist
          verbose: true
          print-hash: true
